doctype html
html(lang="en")
  head
    include pug/layout/meta
    title Page Not Found - User Lost
    include pug/layout/styles
  body.error-page
    include pug/layout/header
    .container
      img(src="/img/7.svg", alt="" class="img-404")
      p.four-0-four.mb-5 Look Like You Are Lost. Head To Beack To Our 
        a(href="home.html") HomePage
    include pug/layout/footer
    include pug/layout/scripts
