doctype html
html(lang="en")
  head
    include pug/layout/meta
    title Home
    include pug/layout/styles
  body 
    include pug/layout/header
    h2 Welcome In Home Page <i class="fa-solid fa-a"></i>
    include pug/layout/scripts  