doctype html
html(lang="en")
  head
    include pug/layout/meta
    title Store Zone
    include pug/layout/styles
  body 
    //- Header
    include pug/layout/header
    //- Landing 
    include pug/layout/landing
    //- Start Product Card
    section.product
      .container
        h2.product-cat Best Seller
        .product-container
          span.pre <i class="fa-solid fa-chevron-left"></i>
          spna.next <i class="fa-solid fa-chevron-right"></i>
          //- For Loop To iteration Elements
          -for (let i = 0; i < 10; i++)
            .product-card 
              .product-img
                span.discount 50% OFF
                img(src="/dist/img/1.jpg" class="img-fluid" alt="")
                button.btn.card-btn Add To wishlist
              .product-info.w-100 
                h2 Brand 
                p Some Details About Brand
                span.price $20
                spna.actual-price $40
    //- End Product Card
    //- Start Collection
    seciton.main-collection.w-100
      a(href="#" class="collection position-relative")
        img(src="/dist/img/2.jpg", alt="" class="img-fluid")
        p.title-collection Youth <br> Shoes 
      a(href="#" class="collection position-relative")
        img(src="/dist/img/4.jpg", alt="" class="img-fluid")
        p.title-collection Child <br> Shoes 
      a(href="#" class="collection position-relative")
        img(src="/dist/img/3.jpg", alt="" class="img-fluid")
        p.title-collection Classic <br> Models 
      a(href="#" class="collection position-relative")
        img(src="/dist/img/5.jpg", alt="" class="img-fluid")
        p.title-collection Modern <br> Models 
    //- End Collection
    //- Start Brands
    section.product.pt-5.mt-5 
      .container
        h2.product-cat T-Shirts
        .product-container
          span.pre <i class="fa-solid fa-chevron-left"></i>
          spna.next <i class="fa-solid fa-chevron-right"></i>
          //- For Loop To iteration Elements
          -for (let i = 0; i < 10; i++)
            .product-card
              .product-img
                span.discount 50% OFF
                img(src="/dist/img/6.jpg" class="img-fluid" alt="")
                button.btn.card-btn Add To wishlist
              .product-info.w-100 
                h2 Brand 
                p Some Details About Brand
                span.price $20
                spna.actual-price $40
    //- End Brands
    //- Footer
    include pug/layout/footer
    include pug/layout/scripts   