doctype html
html(lang="en")
  head
    include pug/layout/meta
    title Login - Store Zone 
    include pug/layout/styles
  body.login-page.d-flex.justify-content-center.align-items-center
    .container.cont-login
      a(href="home.html") 
        h2.logo-login <span>Store</span> <span>Zone</span>
      .greenbg 
        .box.signin 
          h2 Have An Account ?
          button.signinBtn.btn Sign In 
        .box.signup 
          h2 Don't Have An Account ?
          button.signupBtn.btn Sign Up 
      .form-bx.d-flex.justify-content-center.align-items-cetner
        .form.signinForm
          form.d-flex.flex-column.w-100.text-center
            h3 Sign In 
            input(type="text" placeholder="Username" class="form-control").mb-4
            input(type="password" placeholder="Password" class="form-control").mb-4
            input(type="submit", value="login").btn.m-auto
            a(href="#" class="forgot") Forgot Password..?
        .form.signupForm
          form.form-validate.d-flex.flex-column.w-100
            h3.text-center Sign Up 
            .validation
              input(type="text" placeholder="Username" class="form-control" id="name")
              <i class="fa-solid fa-circle-check check-green"></i>
              <i class="fa-solid fa-circle-exclamation exclamation-red"></i>
              small Error Message
            .validation
              input(type="email" placeholder="Email Address" class="form-control" id="email")
              <i class="fa-solid fa-circle-check check-green"></i>
              <i class="fa-solid fa-circle-exclamation exclamation-red"></i>
              small Error Message
            .validation 
              input(type="password" placeholder="Password" class="form-control" id="password")
              <i class="fa-solid fa-circle-check check-green"></i>
              <i class="fa-solid fa-circle-exclamation exclamation-red"></i>
              small Error Message
            .validation 
              input(type="password" placeholder="Confirm Password" class="form-control" id="password2")
              <i class="fa-solid fa-circle-check check-green"></i>
              <i class="fa-solid fa-circle-exclamation exclamation-red"></i>
              small Error Message
            .checkandLabel 
              input(class="form-check-input check-box" type="checkbox" id="term-and-cond")
              <label class="form-check-label" for="term-and-cond">| agree to our 
                a(href="#") terms and conditions </label>
            input(type="submit", value="Register").btn.m-auto
    include pug/layout/scripts  
    script(src="login.js") 
