doctype html
html(lang="en")
  head
    include pug/layout/meta
    title Product - 
    include pug/layout/styles
  body 
    include pug/layout/header
    //- Section Details
    section.product-details.w-100
      .container.d-flex.justify-content-between.mt-5
        .img-slider.position-relative
        .details 
          h2 
          p.product-details
          span.price
          span.actual-price 
          span.actual-price-dis
          p.se-size Select Size 
          input(type="radio" name="size" value="s" hidden id="s-size")
          label(for="s-size" class="size-radio check") s 
          input(type="radio" name="size" value="s" hidden id="m-size")
          label(for="m-size" class="size-radio") m 
          input(type="radio" name="size" value="s" hidden id="l-size")
          label(for="l-size" class="size-radio") l
          input(type="radio" name="size" value="s" hidden id="xl-size")
          label(for="xl-size" class="size-radio") xl
          button.btn Add To Cart
          button.btn.wishlist-btn Add To Wishlist
    //- Section Description
    section.details-des
      .container
        h2.heading
          |Description 
        p.text-black-50.lh-lg.mb-5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quam doloribus nesciunt doloremque assumenda ipsum veniam temporibus dolorem voluptate maiores accusantium totam exercitationem, ea qui pariatur nostrum tempore dolore laboriosam nulla id quos sunt optio explicabo? Repellat amet sunt accusamus ex quia, maxime cupiditate saepe magnam aperiam id odio dolore explicabo totam autem harum dolorem quo nulla minus voluptatum fugiat dolores, at in. Ad minus officiis saepe vel accusantium, soluta quas eos, quos minima, ratione esse! Optio laborum quia perspiciatis autem aut ipsam, libero reprehenderit unde commodi odio voluptate mollitia animi eligendi delectus placeat soluta voluptates fuga at porro. Maiores quae assumenda illo quam inventore nam eos suscipit, autem nemo repellat porro rem quidem, magni in tempore itaque delectus aspernatur recusandae corrupti! Commodi dolorum voluptate atque, saepe earum alias delectus nesciunt ullam est! Officia omnis velit, tempora aspernatur, dicta perferendis nostrum numquam quas dolorum doloribus provident quia autem impedit repudiandae?
    section.container-for-card

    include pug/layout/footer
    include pug/layout/scripts
