doctype html
html(lang="en")
  head
    include pug/layout/meta
    title Search Result For
    include pug/layout/styles
  body 
    //- Header
    include pug/layout/header
    //- Search Section
    section.search-result.w-100
      .container
        h2.heading 
          | Search Results For 
          span Product
      section.product.pt-5 
        .container
          .product-container
            //- For Loop To iteration Elements
            -for (let i = 0; i < 10; i++)
              .product-card
                .product-img
                  span.discount 50% OFF
                  img(src="/img/6.jpg" class="img-fluid" alt="")
                  button.btn.card-btn Add To wishlist
                .product-info.w-100 
                  h2 Brand 
                  p Some Details About Brand
                  span.price $20
                  spna.actual-price $40
    //- Footer
    include pug/layout/footer
    include pug/layout/scripts 