doctype html
html(lang="en")
  head
    include pug/layout/meta
    title Shop
    include pug/layout/styles
  body 
    //- Header
    include pug/layout/header
    include pug/layout/landing
    //- Start Card
    .container.pt-5.pb-5.cont-card
      <div class="card" style="width: 18rem;">
        <img src="img/19.jpg" class="card-img-top" alt="">
        <div class="card-body">
          span.d-block.pb-2.text-black-50 Nike
          <h5 class="card-title">Nike Shoes </h5>
          <p class="card-price"> 50$ </p>
          .button-cart.d-flex.justify-content-between
            <a href="product.html" class="btn  btn-card">More Details </a>
            <a href="#" class="btn  btn-card"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="img/17.jpg" class="card-img-top" alt="">
        <div class="card-body">
          span.d-block.pb-2.text-black-50 Youth
          <h5 class="card-title">T-Shirt For Youth</h5>
          <p class="card-price"> 170$ </p>
          .button-cart.d-flex.justify-content-between
            <a href="product.html" class="btn  btn-card">More Details </a>
            <a href="#" class="btn  btn-card"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="img/10.jpg" class="card-img-top" alt="">
        <div class="card-body">
          span.d-block.pb-2.text-black-50 Classic
          <h5 class="card-title">For Men</h5>
          <p class="card-price"> 250$ </p>
          .button-cart.d-flex.justify-content-between
            <a href="product.html" class="btn  btn-card">More Details </a>
            <a href="#" class="btn  btn-card"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="img/2.jpg" class="card-img-top" alt="">
        <div class="card-body">
          span.d-block.pb-2.text-black-50 Adidas
          <h5 class="card-title">Adidas Shoes </h5>
          <p class="card-price"> 75$ </p>
          .button-cart.d-flex.justify-content-between
            <a href="product.html" class="btn  btn-card">More Details </a>
            <a href="#" class="btn  btn-card"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="img/11.jpg" class="card-img-top" alt="">
        <div class="card-body">
          span.d-block.pb-2.text-black-50 Adidas
          <h5 class="card-title">Adidas Shoes </h5>
          <p class="card-price"> 80$ </p>
          .button-cart.d-flex.justify-content-between
            <a href="product.html" class="btn  btn-card">More Details </a>
            <a href="#" class="btn  btn-card"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="img/12.jpg" class="card-img-top" alt="">
        <div class="card-body">
          span.d-block.pb-2.text-black-50 Nike
          <h5 class="card-title">Nike Shoes </h5>
          <p class="card-price"> 65$ </p>
          .button-cart.d-flex.justify-content-between
            <a href="product.html" class="btn  btn-card">More Details </a>
            <a href="#" class="btn  btn-card"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="img/16.jpg" class="card-img-top" alt="">
        <div class="card-body">
          span.d-block.pb-2.text-black-50 Classic
          <h5 class="card-title">For Men </h5>
          <p class="card-price"> 190$ </p>
          .button-cart.d-flex.justify-content-between
            <a href="product.html" class="btn  btn-card">More Details </a>
            <a href="#" class="btn  btn-card"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="img/18.jpg" class="card-img-top" alt="">
        <div class="card-body">
          span.d-block.pb-2.text-black-50 Youth
          <h5 class="card-title">T-Shirt For Youth </h5>
          <p class="card-price"> 165$ </p>
          .button-cart.d-flex.justify-content-between
            <a href="product.html" class="btn  btn-card">More Details </a>
            <a href="#" class="btn  btn-card"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>
    //- End Card 
    //- Footer
    include pug/layout/footer
    include pug/layout/scripts   