$white-color: #fff;
$alt-white-color: #eee;

$black-color: #1e272e;
$alt-black-color: #485460;

$red-color: #ff3f34;
$alt-red-color: #ff5e57;

$blue-color: #3c40c6;
$alt-blue-color: #575fcf;

$green-color: #22a6b3;
$alt-green-color: #7ed6df;

// Media 
$max-large : "max-width: 991px";
$min-large : "min-width: 991px";
$max-med: "max-width: 768px";
$min-med: "min-width: 768px";