footer.position-relative
  .container 
    .footer-content.d-flex.justify-content-between.w-100
      .social-logo
        .brand 
          span Store 
          span Zone
      .category-container.d-flex.justify-content-between
        ul.links-container
          li.title-cat Links
          li 
            a(href="home.html") Home
          li 
            a(href="#") About
          li 
            a(href="#") Login In 
          li 
            a(href="product.html") Product
          li 
            a(href="#")  Favourite
        ul.links-container 
          li.title-cat Man
          li 
            a(href="#") T-shirts 
          li 
            a(href="#") Shoes 
          li 
            a(href="#") Formals
          li 
            a(href="#") Sports
          li 
            a(href="#") casual
        ul.links-container 
          li.title-cat Youth
          li 
            a(href="#") T-shirts 
          li 
            a(href="#") Shoes 
          li 
            a(href="#") Formals
          li 
            a(href="#") Sports
        ul.links-container 
          li.title-cat Children
          li 
            a(href="#") T-shirts 
          li 
            a(href="#") Shoes 
          li 
            a(href="#") Sports
          li 
            a(href="#") Watch
    p.footer-title About Company
    p.info.text-white-50 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore nobis obcaecati voluptate ab quibusdam beatae, molestiae quam laboriosam minus sequi consectetur in dicta praesentium consequuntur! Optio rem adipisci cupiditate sequi in nam velit. Qui explicabo at doloribus quos. Alias ducimus suscipit eum rem impedit voluptates dicta expedita nihil nobis esse odit omnis vitae ea atque, aut harum repellat eius pariatur! In nostrum quia cupiditate cumque excepturi, eaque ipsum praesentium eveniet sequi sint exercitationem? Ad impedit enim molestias tenetur magnam nihil minima, alias ut quo consectetur, itaque dolorum labore! Tempore saepe id nulla magni quibusdam qui cupiditate labore animi repellat error.
    p.info.text-white-50 telephone - 001 00 33 280, 382 00 11 220
    p.info.text-white-50 support emails - help@zone.com, customersupport@zone.com
