header 
  nav.d-flex.container.justify-content-between
    .brand 
      a(href="home.html")  
        span Store 
        span Zone 
    .nav-items.d-flex.align-items-center  
      form(action="")
        input(type="text" class="search-input form-control" placeholder="Search") 
        button.btn
          i(class="fa-solid fa-magnifying-glass")
      a(href="#")
        i(class="fa-solid fa-cart-shopping")
      a(href="#")  
        i(class="fa-solid fa-circle-user")