header
  .container.d-flex.align-items-center.justify-content-between
    .logo 
      h1 
        a(href="home.html")  Store Zone 
    ul.list-header.d-flex.list-unstyled
      li 
        a(href="home.html") Home
      li 
        a(href="about.html") About 