//- Bootstrap
script(src="js/bootstrap.bundle.min.js") 
//- FontAwesome
script(src="js/all.min.js") 
//- Js Main File
script(src="js/header.js") 
script(src="js/home.js") 
script(src="js/product.js") 
script(src="js/about.js") 
script(src="js/login.js") 
