// Bootstrap 
link(rel="stylesheet", href="css/bootstrap.min.css")
// FontAwesome
link(rel="stylesheet", href="css/all.min.css")
// Css Main File
link(rel="stylesheet", href="css/main.css")
// Googel Fonts Library
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet")