.cart-page {
  padding: 150px 0;
  th {
    background-color: $black-color;
    text-align: left;
    padding: 5px;
    color: white;
    font-weight: normal;
  }
  td {
    padding: 10px 5px;
  }
  .cart-info {
    img {
      width: 180px;
      margin-right: 10px;
    }
    a {
      display: block;
      background-color: $black-color;
      color: white;
    }
  }
  input[type="number"] {
    width: 50px;
    text-align: center;
    &:focus {
      outline: none;
    }
  }
  .quan {
    all: unset;
    span {
      color: $black-color;
      font-size: 20px;
      margin-left: 10px;
      &.min,&.plus {
        cursor: pointer;
      }
    &.num {
      border-radius: 5px;
      border: 1px solid;
      display: inline-block;
      padding: 1px 10px;
      color: $black-color;
    }
    }
  }
}