.login-page {
  min-height: 100vh;
  background-color: $alt-green-color;
  transition: .5s;
  &.active .signupForm input[type="submit"] {
    background-color: $red-color !important;
  }
  &.active {
    background-color: $red-color;
  }
  .cont-login {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
    // background-color: red;
    .logo-login {
      position: absolute;
      top: -130px;
      left: 50%;
      transform: translateX(-50%);
      font-weight: bold;
      font-size: 40px;
      color: white;
      background-color: $black-color;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 2px 5px 17px rgba(rgb(0, 0, 0),  .4);
      span:nth-child(1) {
        color: $red-color;
      }
      span:nth-child(2) {
        color: $alt-green-color;
      }
      @media ($max-large) {
        font-size: 30px;
        top: -60px;
        padding: 6px;
      }
    }
    @media ($max-large) {
      & {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        height: 650px;
      }
    }
    .greenbg {
      position: absolute;
      top: 40px;
      width: 100%;
      height: 420px;
      background-color: rgba(white, .2);
      box-shadow: 0 5px 45px rgba( black, .15);
      display: flex;
      justify-content: center;
      align-items: center;
      @media ($max-large) {
        & {
          top: 0;
          height: 100%;
        }
      }
      .box {
        position: relative;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media ($max-large) {
          & {
            position: absolute;
            width: 100%;
            height: 150px;
            bottom: 0;
          }
          &.signin {
            top: 0;
          }
        }
        h2 {
          color: $white-color;
          font-size: 25px;
          font-weight: 500;
          margin-bottom: 10px;
        }
        button {
          color: $black-color;
          background-color: white;
          font-weight: 500;
        }
      }
    }
    .form-bx {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: white;
      z-index: 100;
      box-shadow: 0 5px 45px rgba( black, .25);
      transition: 0.5s ease-in-out;
      overflow: hidden;
      @media ($max-large) {
        & {
          width: 100%;
          height: 500px;
          top: 0;
          box-shadow: none;
        }
        &.active {
          left: 0 !important;
          top: 150px;
        }
      }
      &.active {
        left: 55%;
      }
      & .signinForm {
        transition-delay: .25s;
      }
      &.active .signinForm {
        left: -100%;
        transition-delay: .0s;
      }
      & .signupForm {
        top: 100%;
        transition-delay: .0s;
      }
      &.active .signupForm {
        transition-delay: .25s;
        top: 0;
      }
      .form {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 50px;
        transition: .5s;
        form {
          h3 {
            font-size: 25px;
            font-weight: 500;
            color: $black-color;
            margin-bottom: 20px;
          }
          input {
            width: 100%;
            margin-bottom: 20px;
            transition: .5s;
            &:focus {
              box-shadow: none;
              border: 1px solid rgb(164, 164, 164);
            }
            &[type="checkbox"] {
              width: 6% !important;
              height: 20px;
              &:checked {
                background-color: $black-color;
                border-color: $black-color;
              }
            }
            &[type="submit"] {
              background-color: $alt-green-color;
              max-width: 100px;
              color: white;
              font-weight: 500;
            }
          }
          .form-check-label {
            width: 90%;
            font-size: 14px;
            margin-left: 10px;
            a {
              color: $black-color;
              text-decoration: underline;
            }
          }
          .forgot {
            color: $black-color;
            text-decoration: underline;
            margin-top: 20px;
          }
        }
      }
    }
  }
}