.search-result {
  .heading {
    font-size: 20px;
    font-weight: 400;
    margin: 80px 0;
    span {
      font-weight: bold;
    }
  }
  .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 20px;
  }
}