footer {
  width: 100%;
  padding: 40px 0;
  padding-bottom: 80px;
  background-color: $black-color; 
  .footer-content {
    @media ($max-med) {
      flex-direction: column;
      .category-container {
        display: grid !important;
        grid-template-columns: repeat(2,1fr);
        justify-content: center !important;
        gap: 30px;
        margin: auto;
        padding-right: 18px;
        padding-bottom: 80px;
        padding-top: 50px;
      }
      .brand {
        font-size: 40px !important;
      }
    }
    .brand {
      font-size: 60px;
      font-weight: bold;
      span:first-child {
        color: $red-color;
      }
      span:last-child {
        color: $alt-green-color;
      }
    }
    .category-container {
      width: 45%;
      .title-cat {
        font-size: 20px;
        color: white;
        margin-bottom: 20px;
      }
      li {
        padding-top: 10px;
        a {
          opacity: .5;
          transition: .3s;
          &:hover {
            opacity: 1;
            color: white;
          }
        }
      }
    }
  }
  .footer-title {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
  }
  .info {
    color: white;
  } 
}