header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $black-color;
  z-index: 9;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
  // Navbar
  nav {
    padding: 10px;
    // Logo
    .brand {
      font-size: 35px;
      font-weight: bold;
      // color: $alt-white-color;
      &:hover a {
        color: white;
      }
      span:first-child {
        color: $red-color;
      }
      span:last-child {
        color: $alt-green-color;
      }
    }
    .nav-items {
      ul {
        // Media Query To Ul NavBar
        @media ($max-large) {
          & {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            position: fixed;
            top: 0;
            right: -300px;
            height: 100vh;
            width: 300px;
            background-color: $alt-black-color;
            box-shadow: 0 40px 60px rgba(0, 0, 0, 0.107);
            padding: 80px 40px 0 0;
          }
          &.active {
            right: 0;
          }
        }
        li {
          margin-top: 10px;
        }
      }
      a {
        display: block;
        padding: 10px 0;
        margin-left: 40px;
        transition: 0.3s;
        font-size: 20px;
        position: relative;
        &::before {
          content: attr(data-name);
          position: absolute;
          top: 0;
          left: 0;
          padding: 10px 0;
          color: $alt-green-color;
          width: 0;
          display: inline-block;
          border-bottom: 2px solid;
          overflow: hidden;
          transition: 0.4s;
        }
        &:hover {
          color: white;
        }
        &:hover::before {
          width: 100%;
        }
        &.user-fa:hover::before {
          color: $alt-green-color;
          width: 0;
        }
        &.user-fa:hover {
          color: $alt-green-color;
        }
        &.cart-fa:hover {
          color: $alt-green-color;
        }
        &.cart-fa:hover::before {
          width: 0;
        }
        svg {
          font-size: 25px;
        }
      }
    }
    // Bars Display None
    #mobile {
      display: none;
    }
    // Mobile Responsive
    @media ($max-large) {
      #mobile {
        display: flex;
        align-items: center;
        svg {
          font-size: 24px;
          color: white;
          transition: 0.3s;
          padding-left: 20px;
          cursor: pointer;
          &:hover {
            color: $alt-green-color;
          }
        }
      }
    }
  }
}
// Bars Style
#mobile .menu-hover {
  width: 100%;
  position: relative;
  padding-left: 45px;
  &:hover .icon-menu span:nth-child(2) {
    width: 22px;
  }
  .icon-menu {
      width: 22px;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: -11px;
      direction: rtl;
      span:nth-child(2) {
        transition: 0.5s;
        width: 10px;
      }
    }
  span {
    display: block;
    background-color: rgb(255, 255, 255);
    height: 2px;
    margin-bottom: 6px;
  }
}

